In [6]:
import pandas as pd

In [7]:
df = pd.read_json('ThaiQACorpus-DevelopmentDataset.json')

In [8]:
q1 = df.data.values[0]

dataset = pd.DataFrame(pd.DataFrame(q1,index=[0]))
j = 1
for row in df.data.values[1:]:
    temp = pd.DataFrame(row,index=[j])
    dataset = dataset.append(temp)
    j = j+1

In [9]:
dataset.head(3)

,question_id,question,answer,answer_begin_position,answer_end_position,article_id
0,1,สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Ben...,ฮิกกิ้นส์,529,538,115035
1,2,ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวีย...,เมชตา,139,144,376583
2,3,ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวีย...,ลมสุริยะ,641,649,376583

In [41]:
dataset.question[0]

'สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร'

In [37]:
f = open(f"documents-nsc/{dataset['article_id'][0]}.txt", "r")
content = f.read()
p = parser2.feed(content)
print(p)

None

HTML Parser

In [15]:
##No Output

In [6]:
from html.parser import HTMLParser
parser = HTMLParser()
parser.feed('<html><head><title>Test</title></head>'
            '<body><h1>Parse me!</h1></body></html>')

In [9]:
parser.close()

In [10]:
parser.handle_data('<html><head><title>Test</title></head>'
            '<body><h1>Parse me!</h1></body></html>')

In [16]:
##Has Output

In [36]:
from html.parser import HTMLParser
class MyHTMLParser(HTMLParser):
#    def handle_starttag(self, tag, attrs):
#        print("Encountered a start tag:", tag)

#    def handle_endtag(self, tag):
#        print("Encountered an end tag :", tag)

    def handle_data(self, data):
        return data
        

parser2 = MyHTMLParser()

In [38]:
f = open(f"documents-nsc/{dataset['article_id'][0]}.txt", "r")
content = f.read()
p = parser2.feed(content)
print(p)
#Gives none

None

BS4

In [135]:
from bs4 import BeautifulSoup
with open(f"documents-nsc/{dataset['article_id'][1]}.txt", "r") as f:
    
    contents = f.read()

    soup = BeautifulSoup(contents, 'lxml')

    print(soup.h2)
    print(soup.head)
    print(soup.text)

None
None
ลูนา 1 ลูนา 1 (อี-1 ซีรีส์) ซึ่งในขณะนั้นรู้จักกันในชื่อ เมชตา (; "ความฝัน") เป็นยานอวกาศลำแรกที่เดินทางไปถึงบริเวณใกล้เคียงของดวงจันทร์ และเป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียตที่สามารถปล่อยขึ้นไปในทิศทางเดียวกับดวงจันทร์ได้สำเร็จ ขณะเดินทางผ่านแถบรังสีแวนแอลเลนชั้นนอก เครื่องมือตรวจวัดรังสีของยานสามารถตรวจจับอนุภาคพลังงานสูงปริมาณเล็กน้อยที่มีอยู่ในวงแหวนชั้นนอก ค่าที่ได้จากการตรวจวัดดังกล่าวทำให้ได้ข้อมูลใหม่เกี่ยวกับแถบรังสีของโลกและอวกาศ ปรากฏว่าดวงจันทร์ไม่มีสนามแม่เหล็กที่สามารถตรวจพบได้ นอกจากนี้ ลูนา 1 ยังเป็นครั้งแรกที่มีการสังเกตและตรวจวัดลมสุริยะโดยตรง ความเข้มข้นของพลาสมาที่ถูกเปลี่ยนเป็นไอออนดังกล่าววัดปริมาณได้ราว 700 อนุภาคต่อ ลบ.ซม. ที่ระดับความสูง 20,000-25,000 กิโลเมตร และ 300 ถึง 400 อนุภาคต่อ ลบ.ซม. ที่ระดับความสูง 100,000-150,000 กิโลเมตร ลูนา 1 ยังได้มีการติดต่อทางวิทยุเป็นครั้งแรกจากระยะทางครึ่งล้านกิโลเมตรจากพื้นโลก

In [133]:
#to find structure of text
from bs4 import BeautifulSoup

f = open(f"documents-nsc/{dataset['article_id'][0]}.txt", "r")
contents = f.read()
soup = BeautifulSoup(contents, 'lxml')
for child in soup.recursiveChildGenerator():
    if child.name:
        print(child.name)

html
body
doc

In [136]:
print(soup.doc.attrs)

{'id': '376583', 'url': 'https://th.wikipedia.org/wiki?curid=376583', 'title': 'ลูนา 1'}

In [139]:
soup.text.find('เมชตา', 58)

-1

In [141]:
soup.text[139:]

'ะเป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียตที่สามารถปล่อยขึ้นไปในทิศทางเดียวกับดวงจันทร์ได้สำเร็จ ขณะเดินทางผ่านแถบรังสีแวนแอลเลนชั้นนอก เครื่องมือตรวจวัดรังสีของยานสามารถตรวจจับอนุภาคพลังงานสูงปริมาณเล็กน้อยที่มีอยู่ในวงแหวนชั้นนอก ค่าที่ได้จากการตรวจวัดดังกล่าวทำให้ได้ข้อมูลใหม่เกี่ยวกับแถบรังสีของโลกและอวกาศ ปรากฏว่าดวงจันทร์ไม่มีสนามแม่เหล็กที่สามารถตรวจพบได้ นอกจากนี้ ลูนา 1 ยังเป็นครั้งแรกที่มีการสังเกตและตรวจวัดลมสุริยะโดยตรง ความเข้มข้นของพลาสมาที่ถูกเปลี่ยนเป็นไอออนดังกล่าววัดปริมาณได้ราว 700 อนุภาคต่อ ลบ.ซม. ที่ระดับความสูง 20,000-25,000 กิโลเมตร และ 300 ถึง 400 อนุภาคต่อ ลบ.ซม. ที่ระดับความสูง 100,000-150,000 กิโลเมตร ลูนา 1 ยังได้มีการติดต่อทางวิทยุเป็นครั้งแรกจากระยะทางครึ่งล้านกิโลเมตรจากพื้นโลก\n'

In [70]:
temp = soup.doc.attrs
temp['content'] = soup.text
content_df = pd.DataFrame([temp])

In [79]:
content_df.content.values[0] #should be ฮิกกิ้นส์

'ายได้ไม่น'

In [93]:
content_df.content.values[0].find('ฮิกกิ้นส์') #different from the table

447

In [104]:
content_df.content.values[0][447:(447+538-529)]
#the index return is greater, maybe the html is not removed

'ฮิกกิ้นส์'

In [105]:
529-447

82

In [102]:
content_df.content.values[0][:447].count(' ')
#35 spaces

35

In [108]:
content_df.content.values[0][:447].count('.') #2
content_df.content.values[0][:447].count('(') #2
content_df.content.values[0][:447].count(')') #2

2

In [99]:
#ok
for i in range(dataset.head(3).shape[0]):
    print(dataset.head(3).iloc[i].to_json(force_ascii=False))

{"question_id":1,"question":"สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร","answer":"ฮิกกิ้นส์","answer_begin_position ":529,"answer_end_position":538,"article_id":115035}
{"question_id":2,"question":"ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียต มีชื่อเรียกอีกชื่อว่าอะไร","answer":"เมชตา","answer_begin_position ":139,"answer_end_position":144,"article_id":376583}
{"question_id":3,"question":"ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียต สามารถสังเกตและตรวจวัดอะไรได้โดยตรง","answer":"ลมสุริยะ","answer_begin_position ":641,"answer_end_position":649,"article_id":376583}

In [100]:
#for thai to be ok
# thank you: https://medium.com/odds-team/เอาภาษาไทย-ใส่-json-ด้วย-python-df12b74b5f78

import json
content_in_thai={"thai": "สวัสดีค่ะ"}
print(json.dumps(content_in_thai))
print(json.dumps(content_in_thai, ensure_ascii=False))

{"thai": "\u0e2a\u0e27\u0e31\u0e2a\u0e14\u0e35\u0e04\u0e48\u0e30"}
{"thai": "สวัสดีค่ะ"}

In [115]:
contents.find('ฮิกกิ้นส์') #true.. data is not cleaned any where before

528

In [118]:
contents[529:538] #with index given by the data

'ิกกิ้นส์ '

In [111]:
import re

def text_prepare(text):
    text = re.sub('[^ก-๙‘’“”]', '', text)
    return text

# NEW######################

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('ThaiQACorpus-DevelopmentDataset.json')
#used for later

In [3]:
q1 = df.data.values[0]

#Used for exploring data
dataset = pd.DataFrame(pd.DataFrame(q1,index=[0]))
j = 1
for row in df.data.values[1:]:
    temp = pd.DataFrame(row,index=[j])
    dataset = dataset.append(temp)
    j = j+1

In [ ]:
dataset.columns

In [ ]:
dataset.head(3)

In [25]:
df.data[0]

{'question_id': 1,
 'question': 'สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร',
 'answer': 'ฮิกกิ้นส์',
 'answer_begin_position ': 529,
 'answer_end_position': 538,
 'article_id': 115035}

In [171]:
ans_begin_pos = dataset['answer_begin_position ']
ans_end_pos = dataset['answer_end_position']

for i in range(0,10):
    f = open(f"documents-nsc/{dataset['article_id'][i]}.txt", "r")
    content = f.read() #returns the context/paragraph
    print("question: ", dataset['question'][i])
    
    print("answer: ", dataset['answer'][i])
    
    print("answer position as given: ")
    start = dataset['answer_begin_position '][i]
    end = dataset['answer_end_position'][i]               
    print(start,'%%%' ,end,'%%%' ,content[start:end])
                    
    print("actual answer position from given answer: ")
    ans = dataset['answer'][i]
    idx = content.find(ans)
    print(idx)
    
    print("with actual position and given answer length: ")
    print('with given indices: ', idx,'%%%' ,idx+end-start,'%%%' ,content[idx:idx+end-start])
    print('from string count: ', idx,'%%%' ,idx+len(ans),'%%%' ,content[idx:idx+len(ans)], '\n')

question:  สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร
answer:  ฮิกกิ้นส์
answer position as given:
529 %%% 538 %%% ิกกิ้นส์
actual answer position from given answer:
528
with actual position and given answer length:
with given indices:  528 %%% 537 %%% ฮิกกิ้นส์
from string count:  528 %%% 537 %%% ฮิกกิ้นส์

question:  ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียต มีชื่อเรียกอีกชื่อว่าอะไร
answer:  เมชตา
answer position as given:
139 %%% 144 %%% มชตา
actual answer position from given answer:
138
with actual position and given answer length:
with given indices:  138 %%% 143 %%% เมชตา
from string count:  138 %%% 143 %%% เมชตา

question:  ลูนา 1 เป็นยานอวกาศลำแรกในโครงการลูนาของโซเวียต สามารถสังเกตและตรวจวัดอะไรได้โดยตรง
answer:  ลมสุริยะ
answer position as given:
641 %%% 649 %%% มสุริยะโ
actual answer position from given answer:
640
with actual position and given answer length:
with given indices:  640 %%% 648 %%% ลมสุริยะ
from string count:  640 %%% 648 %%% ลมสุริยะ

question:  กระทรวงโฆษณาแถลงข่าวและโฆษณาชวนเชื่อของนาซีเยอรมนี ก่อตั้งขึ้นในปี ค.ศ. ใด
answer:  ปี 1933
answer position as given:
304 %%% 311 %%% ี 1933
actual answer position from given answer:
303
with actual position and given answer length:
with given indices:  303 %%% 310 %%% ปี 1933
from string count:  303 %%% 310 %%% ปี 1933

question:  ห้องทำงานรูปไข่ สร้างขึ้นในสมัยอดีตประธานาธิบดีคนใดของสหรัฐอเมริกา
answer:  ประธานาธิบดีวิลเลียม เอช. ทัฟต์
answer position as given:
231 %%% 262 %%% ระธานาธิบดีวิลเลียม เอช. ทัฟต์
actual answer position from given answer:
230
with actual position and given answer length:
with given indices:  230 %%% 261 %%% ประธานาธิบดีวิลเลียม เอช. ทัฟต์
from string count:  230 %%% 261 %%% ประธานาธิบดีวิลเลียม เอช. ทัฟต์

question:  เครื่องอิสริยาภรณ์ดารามหาปุตราเป็นเครื่องอิสริยาภรณ์ของประเทศอินโดนีเซียมีลำดับเกียรติเป็นอันดับที่เท่าไร
answer:  อันดับที่ 2
answer position as given:
230 %%% 241 %%% ันดับที่ 2
actual answer position from given answer:
229
with actual position and given answer length:
with given indices:  229 %%% 240 %%% อันดับที่ 2
from string count:  229 %%% 240 %%% อันดับที่ 2

question:  เครื่องอิสริยาภรณ์ดารามหาปุตรา เป็นเครื่องอิสริยาภรณ์ฯ ของประเทศอะไร
answer:  ประเทศอินโดนีเซีย
answer position as given:
245 %%% 262 %%% ระเทศอินโดนีเซีย
actual answer position from given answer:
244
with actual position and given answer length:
with given indices:  244 %%% 261 %%% ประเทศอินโดนีเซีย
from string count:  244 %%% 261 %%% ประเทศอินโดนีเซีย

question:  เรจโจเอมีเลียเป็นเมืองในแคว้นใดในภาคเหนือของประเทศอิตาลี
answer:  แคว้นเอมีเลีย-โรมัญญา
answer position as given:
153 %%% 174 %%% คว้นเอมีเลีย-โรมัญญา
actual answer position from given answer:
152
with actual position and given answer length:
with given indices:  152 %%% 173 %%% แคว้นเอมีเลีย-โรมัญญา
from string count:  152 %%% 173 %%% แคว้นเอมีเลีย-โรมัญญา

question:  พิกซาร์สตูดิโอสร้างคอมพิวเตอร์แอนิแมชันสัญชาติอเมริกัน ตั้งอยู่ที่เมืองอะไร
answer:  เมืองเอเมอรีวิลล์
answer position as given:
198 %%% 215 %%% มืองเอเมอรีวิลล์
actual answer position from given answer:
197
with actual position and given answer length:
with given indices:  197 %%% 214 %%% เมืองเอเมอรีวิลล์
from string count:  197 %%% 214 %%% เมืองเอเมอรีวิลล์

question:  พิกซาร์ สตูดิโอสร้างคอมพิวเตอร์แอนิแมชันสัญชาติอเมริกัน ในปัจจุบันเป็นส่วนหนึ่งของบริษัทอะไร
answer:  บริษัทเดอะวอลต์ดิสนีย์
answer position as given:
256 %%% 278 %%% ริษัทเดอะวอลต์ดิสนีย์ภ
actual answer position from given answer:
255
with actual position and given answer length:
with given indices:  255 %%% 277 %%% บริษัทเดอะวอลต์ดิสนีย์
from string count:  255 %%% 277 %%% บริษัทเดอะวอลต์ดิสนีย์

def sameAns(ans, beg, end, content):
    #get content file
    #get answer
    #get beg idx
    #get end idx
    #content[start-1,end-1]
    #compare with ans
    b = (content[beg-1:end-1]==ans)
    if b!=True:
         #if not same return new index of answer
        idx = content.find(ans)
        return [idx,idx+len(ans)]
    return True

In [24]:
#all beg and end idxs have to be -1

#run check function below
import numpy as np

def sameAns(ans, beg, end, content):
    #get content file
    #get answer
    #get beg idx
    #get end idx
    #content[start-1,end-1]
    #compare with ans
    b = (content[beg-1:end-1]==ans)
    return b

arr = np.array([])

for i in range(dataset.shape[0]):
    beg = dataset['answer_begin_position '][i]
    end = dataset['answer_end_position'][i] 
    ans = dataset['answer'][i]
    f = open(f"documents-nsc/{dataset['article_id'][i]}.txt", "r")
    content = f.read()
    np.append(arr,sameAns(ans,beg,end,content))
    if i<20:
        print(i)
    
print(all(arr))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
True

# CONVERT DATA TO .JSON

In [1]:
import json

data_path = 'ThaiQACorpus-DevelopmentDataset.json'

with open(data_path) as f:
    raw_data = json.load(f)

In [2]:
raw_data.keys()

dict_keys(['version', 'data_set_name', 'data'])

In [3]:
print(type(raw_data['data'])) #list
print(len(raw_data['data'])) #4000
print(raw_data['data'][0]) #a single question answer set

<class 'list'>
4000
{'question_id': 1, 'question': 'สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร', 'answer': 'ฮิกกิ้นส์', 'answer_begin_position ': 529, 'answer_end_position': 538, 'article_id': 115035}

In [4]:
#add new_beg_idx, new_end_idx
for i in range(len(raw_data['data'])):
    start = raw_data['data'][i]['answer_begin_position ']
    end = raw_data['data'][i]['answer_end_position']
    raw_data['data'][i]['new_beg_idx'] = start-1
    raw_data['data'][i]['new_end_idx'] = end-1
    
    f = open(f"documents-nsc/{raw_data['data'][i]['article_id']}.txt", "r")
    content = f.read()
    raw_data['data'][i]['context'] = content

In [16]:
count = 0
index_not_exceed_maxlen = []
for i in range(len(raw_data['data'])):
    if len(raw_data['data'][i]['context'])<=384:
        count += 1
        index_not_exceed_maxlen.append(i)

In [17]:
count

136

In [18]:
index_not_exceed_maxlen

[7,
 11,
 12,
 13,
 14,
 17,
 85,
 88,
 89,
 107,
 112,
 113,
 159,
 267,
 357,
 475,
 476,
 481,
 482,
 492,
 586,
 587,
 590,
 643,
 644,
 694,
 695,
 727,
 892,
 1062,
 1221,
 1222,
 1268,
 1269,
 1328,
 1365,
 1375,
 1388,
 1398,
 1533,
 1584,
 1681,
 1755,
 1808,
 1874,
 1953,
 2143,
 2288,
 2305,
 2371,
 2507,
 2508,
 2516,
 2520,
 2570,
 2710,
 2742,
 2751,
 2753,
 2754,
 2762,
 2763,
 2769,
 2777,
 2783,
 2788,
 2842,
 2843,
 2854,
 2855,
 2858,
 2870,
 2894,
 2895,
 2899,
 2900,
 2908,
 2909,
 2910,
 2916,
 2917,
 2933,
 2978,
 2979,
 2986,
 3004,
 3033,
 3040,
 3041,
 3042,
 3056,
 3152,
 3153,
 3181,
 3182,
 3190,
 3191,
 3194,
 3196,
 3209,
 3210,
 3269,
 3292,
 3293,
 3333,
 3343,
 3360,
 3361,
 3435,
 3449,
 3494,
 3505,
 3557,
 3562,
 3564,
 3637,
 3672,
 3710,
 3711,
 3712,
 3721,
 3722,
 3726,
 3731,
 3745,
 3757,
 3774,
 3775,
 3789,
 3790,
 3815,
 3820,
 3832,
 3842,
 3913,
 3919]

In [5]:
print(raw_data['data'][0]) #added new_beg_idx, new_end_idx

{'question_id': 1, 'question': 'สุนัขตัวแรกรับบทเป็นเบนจี้ในภาพยนตร์เรื่อง Benji ที่ออกฉายในปี พ.ศ. 2517 มีชื่อว่าอะไร', 'answer': 'ฮิกกิ้นส์', 'answer_begin_position ': 529, 'answer_end_position': 538, 'article_id': 115035, 'new_beg_idx': 528, 'new_end_idx': 537, 'context': '<doc id="115035" url="https://th.wikipedia.org/wiki?curid=115035" title="เบนจี้">เบนจี้ เบนจี้ () เป็นชื่อตัวละครหมาพันทางแสนรู้ ที่ปรากฏอยู่ในภาพยนตร์หลายเรื่องที่เขียนบท และกำกับโดย โจ แคมป์ ในช่วงทศวรรษ 1970 ถึง 1980 ภาพยนตร์เรื่องแรกในชุด ใช้ชื่อเรื่องว่า เบนจี้ เช่นเดียวกับตัวละคร ถ่ายทำที่เมืองดัลลัส รัฐเทกซัส ฉายครั้งแรกในปี พ.ศ. 2517 ภาพยนตร์ได้รับการเสนอชื่อเข้าชิงรางวัลออสการ์ และได้รางวัลลูกโลกทองคำ สาขาเพลงประกอบยอดเยี่ยม จากเพลง Benji\'s Theme (I Feel Love) ร้องโดย ชาร์ลี ริช หมาที่แสดงเป็นเบนจี้ตัวแรก ชื่อว่า ฮิกกิ้นส์ (พ.ศ. 2502 - พ.ศ. 2518) มีอายุถึง 15 ปีแล้วในขณะแสดง หลังจากภาพยนตร์ออกฉายได้ไม่นาน มันก็ตายในปี พ.ศ. 2518เบนจี้ในภาพยนตร์เบนจี้ในภาพยนตร์. - พ.ศ. 2517, Benji (ภาพยนตร์) - พ.ศ. 2520, For the Love of Benji (ภาพยนตร์) - พ.ศ. 2521, Benji\'s Very Own Christmas Story (ภาพยนตร์โทรทัศน์) - พ.ศ. 2523, Oh Heavenly Dog (ภาพยนตร์) - พ.ศ. 2523, Benji at Work (ภาพยนตร์โทรทัศน์) - พ.ศ. 2524, Benji Takes a Dive at Marineland (ภาพยนตร์โทรทัศน์) - พ.ศ. 2526, Benji, Zax & the Alien Prince (ภาพยนตร์ซีรีส์) - พ.ศ. 2530, Benji the Hunted (ภาพยนตร์) - พ.ศ. 2547, Benji: Off the Leash! (ภาพยนตร์) - พ.ศ. 2550, Benji: The Barkening (ภาพยนตร์)</doc>\n'}

In [ ]:
old_start = raw_data['data'][0]['answer_begin_position ']
old_end = raw_data['data'][0]['answer_end_position']
print(raw_data['data'][0]['context'][old_start]

In [10]:
import json

f = open("qa_dataset_new.json", "w")
f.write(json.dumps(raw_data, ensure_ascii=False)) #since raw data has changed
f.close()

In [20]:
len(raw_data['data'])

4000

In [21]:
raw_data['data'][90]['question']

'คิม ยอน-คยอง นักกีฬาวอลเลย์บอลหญิงทีมชาติเกาหลีใต้ เรียนชั้นมัธยมปลายที่โรงเรียนอะไร'

In [1]:
import time

In [3]:
start = time.time()

In [6]:
print('Processing time:',time.time()-start, 's')

Processing time: 48.050565004348755 s